@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 1.5rem;
    margin: 10%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 10rem auto 10rem;
    grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "sb sb sb mn mn mn mn mn"
    "ft ft ft ft ft ft ft ft"
    ;
}
.header{
    grid-area: hd;
    background-color: aqua;
}
.sidebar{
    grid-area: sb;
    background-color: aquamarine;
}
.main{
    color:aliceblue;
    grid-area: mn;
    background-color: black;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
.footer{
    grid-area: ft;
    background-color: blue;
}

h1 {
    font-size: 4rem;
    font-family: "SN Pro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
h2 {
    font-weight: bolder;
    font-size: 2rem;

}