@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    color: black;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #faeed8;
    background-image: url(img/blured_background.PNG);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment:fixed;
}
main{
    background-color: #faeed8;
    border-radius: 2rem;
    margin: 10%;
    margin-top: 2%;
    height: 85%;
}
h1 {
    display:inline-block;
    width: 35%;
    margin: 1rem;
    font-size: 3rem;
    font-family: "SN Pro", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #be9314;
    border-radius: 0.6rem;
}
p{
    background-color: #f3e899;
    margin:5%;
    margin-top: 0;
    font-size: 1.5rem;
}
img{
    display:block;
}
.artist_icon:hover{
    background-color: #47cae1;
    transform: scale(1.2, 1.2);
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    align-content: center;
}
.artist_icon{
    width: auto;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 2rem;
    font-size: 1.2rem;
    padding: 1rem;
}
header{
    height: auto;
}
nav{
    color: #47cae1;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 60%;
    margin-left: 20%;
}
ul{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    list-style-type: none;
    font-style: normal;
    font-weight: 700;
}
li a,
li a:visited{
    text-decoration: none;
    font-size: 1.6rem;
    color: black;
}
ol{
    text-align: center;
    list-style: inside;
    color:rgba(3, 3, 3, 0.68);
    font-size: 2rem;
}
.description a:visited,
.description a
{
    color: #5c4013;
    font-size: 1.5rem;
}
input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked{
    position: absolute;
    left: -9999%;
}
input[type = "checkbox"]:checked + label {
    color: white;
    background-color: #e37620;
    border-radius: 1px;
}
.none {
    display: none;
}

.bold{
    display: inline-block;
    font-weight: bold;
}
.bold_underline{
    font-weight: bold;
    text-decoration: underline;
}

.tags_jane_container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: 250px 100px;
    grid-template-areas:
    "ja ta"
    "ja bt";
}
.tags {
    font-size: 1.5rem;
    margin: 1rem;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    background-color: #f3e899;
    list-style-position: outside;
    border: 2px solid black;
    grid-area:ta;
}
.jane_artists{
    grid-area:ja;
}
.TOS{
    grid-area: bt;
    width: 20rem;
    height: 3rem;
    position: relative; 
    left: 60%;
    top: 10%;
    background-color: #47cae1;
    font-size: 1.5rem;
    border-radius: 10px;
}
a,
a:visited{
    text-decoration: none;
    color: black;
}
#house_button{
    position: relative;
    bottom: -100px;
}
#nelli_donate{
    position: relative;
    bottom: -100px;
    left: 50%;
}
.title{
    position: relative;
}
 @media screen and (max-width: 1300px) {
    body {
        background-image: url(img/blured_background.PNG);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment:fixed;
    }
    .container{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 860px){
    body {
        background-image: url(img/blured_background.PNG);
        background-repeat: no-repeat;
        background-size: 100vw 100vh;
        background-attachment:fixed;
    }
    .container{
        grid-auto-flow: row;
        grid-template-columns: 1fr;
    }
}